In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index Lavels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

In [4]:
df

             A         B
G1 1 -0.088404 -0.147336
   2 -0.569382 -1.850562
   3 -1.054085  0.275449
G2 1  0.088241 -0.541685
   2  2.753003 -0.669991
   3 -1.500132  2.714005

In [5]:
df.loc['G1']

          A         B
1 -0.088404 -0.147336
2 -0.569382 -1.850562
3 -1.054085  0.275449

In [6]:
df.loc['G1'].loc[1]

A   -0.088404
B   -0.147336
Name: 1, dtype: float64

In [7]:

df.index.names

FrozenList([None, None])

In [8]:
df.index.names = ['Groups', 'Num']

In [9]:
df

                   A         B
Groups Num
G1     1   -0.088404 -0.147336
       2   -0.569382 -1.850562
       3   -1.054085  0.275449
G2     1    0.088241 -0.541685
       2    2.753003 -0.669991
       3   -1.500132  2.714005

In [10]:

df.loc['G2'].loc[2]['B']

-0.6699912296927155

#### cross Section

In [11]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1   -0.088404 -0.147336
       2   -0.569382 -1.850562
       3   -1.054085  0.275449
G2     1    0.088241 -0.541685
       2    2.753003 -0.669991
       3   -1.500132  2.714005>

In [12]:
df.xs('G1')

            A         B
Num
1   -0.088404 -0.147336
2   -0.569382 -1.850562
3   -1.054085  0.275449

In [13]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.088404 -0.147336
G2      0.088241 -0.541685